header{
    .container{
        height: 80px;
        display: flex;
        //justify-content: space-between;

        .logo{
            display: flex;
            align-items: center;
        }
        .logo img{
            height: 85%;
        }
    }

    .nav ul{
        display: flex;
        flex-direction: row;

        li{
            margin: 8px 15px;
            vertical-align: middle;
            line-height: 67px;
            font-weight: bold;
            a{
                color: black;
            }
        }

        li.active{
            border-bottom: 5px solid $main-blue;
        }
    }
}